.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-form {
  margin: 20px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 24px;
  position: sticky;
  top: 0;
  background-color: rgb(184, 205, 242);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3);
}

body {
  background-color: rgb(209, 222, 245);
}

.gallery {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  margin: 20px auto;
}
.photo-card {
  margin: auto;
  padding: 10px;
  background-color: rgb(196, 214, 247);
  box-shadow: 5px 5px 7px rgba(249, 248, 248, 0.3);
  // height: 100%;
  // width: calc((100% - 64px) / 3);
}

.info {
  margin-top: 20px;
  padding: auto 20px;
}

// .info-item {
//   display: flex;
//   flex-direction: column;
// }

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: currentColor;
}
.js-load {
  margin: 100px auto;
  width: 180px;
  height: 40px;
  font-size: 20px;
}
